<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Filestack App</title>
        <link rel="stylesheet" href="./styles/company.css">
        <script src="https://kit.fontawesome.com/cdc3c351b3.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <ul>
            <img src="./img/filestack.png">
            <li><a href="#profile" id="profiletab">Company Profile</a></li>
            <li><a class="active" href="#joboffer" id="joboffertab">Job Offers</a></li>
            <li><a href="#newoffer" id="newoffertab">Offer new Job</a></li>
            <li><a href="#contact" id="contacttab">Contact</a></li>
            <li><a href="#about" id="abouttab">About</a></li>
        </ul>

        <!--STARTS OFFEER NEW JOB MODULE-->
        <div class="module" style="margin-left:25%;padding:1px 16px; display:none" id="jobmodule">
            <div class="container">
                <div class="title">JOB OFFER</div>
                <div class="content">
                  <form>
                    <div class="user-details">
                      <div class="input-box">
                        <span class="details">Name of the Job</span>
                        <input type="text" placeholder="Enter Job" id="jobname">
                      </div>
                      <div class="input-box">
                        <span class="details">Salary/Year</span>
                        <input type="text" placeholder="Salary" id="jobsalary">
                      </div>
                      <div class="input-box">
                        <input style="background-color: #ee4e25; color: #FFFFFF;" type="button" placeholder="Enter Job" id="mandatory" value="Add Mandatory Skill">
                      </div>
                      <div class="input-box">
                        <input style="background-color: #ee4e25; color: #FFFFFF;" type="button" placeholder="Enter Job" id="soft" value="Add Soft Skill">
                      </div>
                      <div class="input-box">
                        <div class=skillcontainer id="mandatorycontainer">
                        </div>
                      </div>
                      <div class="input-box">
                        <div class=skillcontainer id="softcontainer">
                        </div>
                      </div>
                    </div>
                    <div class="divisionform">
                        <div class="input-box">
                            <span class="details">Job Description</span>
                            <input type="text" placeholder="Job Description" id="jobdescription">
                        </div>
                    </div>
                    <div>
                      <input type="radio" id="remote" name="contact" value="remote"/>
                      <label for="remote">Remote Job</label>
                
                      <input type="radio" id="presencial" name="contact" value="presencial" />
                      <label for="presencial">Presencial Job</label>

                      <input type="radio" id="hybrid" name="contact" value="hybrid" />
                      <label for="hybrid">Hybrid</label>
                    </div>

                    <div class="user-details" id="locationdiv">
                      <div class="input-box">
                        <span class="details">State</span>
                        <select name="states" id="states">
                        </select>
                      </div>
                      <div class="input-box">
                        <span class="details">City</span>
                        <select name="cities" id="cities">
                        </select>
                      </div>
                    </div>
                    
                    <div class="button">
                      <input type="button" value="Send Offer" id="sendoffer">
                    </div>
                  </form>
                </div>
              </div>
        </div>
        <!--ENDS OFFER NEW JOB MODULE-->

        <!--STARTS COMPANY PROFILE MODULE-->
        <div class="module" style="margin-left:25%;padding:1px 16px; display:none;" id="profilemodule">
          <div class="container">
            <div class="title">COMPANY PROFILE</div>
            <div class="content">
              <form>
                <div class="user-details">
                  <div class="input-box">
                    <span class="details">Full Name/Company Name</span>
                    <input type="text" placeholder="Enter your Name" id="name_companyinfo">
                  </div>
                  <div class="input-box">
                    <span class="details">Age</span>
                    <input type="number" placeholder="Enter your Age" id="age_companyinfo">
                  </div>
                  <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" placeholder="Enter your Email" id="email_companyinfo">
                  </div>
                  <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input type="number" placeholder="Enter your Number" id="phone_companyinfo">
                  </div>
                </div>

                <div class="user-details">
                  <div class="input-box">
                    <span class="details">State</span>
                    <select name="states" id="states_company">
                    </select>
                  </div>
                  <div class="input-box">
                    <span class="details">City</span>
                    <select name="cities" id="city_company">
                    </select>
                  </div>
                </div>

                <div class="button">
                  <input type="button" value="UPDATE DATA" id="update_companyinfo">
                </div>
              </form>
            </div>
          </div>
        </div>
      <!--ENDS COMPANY PROFILE MODULE-->

      <!--STARTS CONTACT MODULE-->
      <div class="module" style="margin-left:25%;padding:1px 16px; display: none;" id="contactmodule">
        <div class="container">
          <div class="title">GET IN TOUCH</div>
          <div class="content">
            <form>
              <div class="user-details">
                <div class="input-box">
                  <span class="details">PHONE NUMBER</span>
                  <div>
                    <div class="contenido">
                      <i class="fa-solid fa-phone"></i>
                    </div>
	                  <div class="contenido">
                      <label>789456123</label>  
                    </div>
                  </div>
                </div>
                <div class="input-box">
                  <span class="details">OUR MAIN OFFICE</span>
                  <div>
                    <div class="contenido">
                      <i class="fa-solid fa-building"></i>
                    </div>
	                  <div class="contenido">
                      <label>789456123</label>  
                    </div>
                  </div>
                </div>
                <div class="input-box">
                  <span class="details">FAX</span>
                  <div>
                    <div class="contenido">
                      <i class="fa-solid fa-fax"></i>
                    </div>
	                  <div class="contenido">
                      <label>789456123</label>  
                    </div>
                  </div>
                </div>
                <div class="input-box">
                  <span class="details">EMAIL</span>
                  <div>
                    <div class="contenido">
                      <i class="fa-solid fa-envelope"></i>
                    </div>
	                  <div class="contenido">
                      <label>supp@filestack.com</label>  
                    </div>
                  </div>
                </div>
              </div>

              <div class="divisionform">
                <div class="input-box">
                    <span class="details">MESSAGE</span>
                    <input type="text" placeholder="Enter Job" id="name">
                </div>
              </div>

              <div class="button">
                <input type="button" value="SEND MESSAGE" id="signup">
              </div>
            </form>
          </div>
        </div>
      </div>
    <!--ENDS CONTACT MODULE-->

    <!--STARTS ABOUT US MODULE-->
    <div class="module" style="margin-left:25%;padding:1px 16px; display: none;" id="aboutusmodule">
      <div class="container">
        <div class="halfmodule">
          <img src="/img/filestack.png">
          <div class="aboutus"> <h1>ABOUT US</h1></div>
        </div>
        <div class="informationpanel">
          <h3>Filestack is a set of tools and powerful APIs that allow you to upload, transform and deliver 
            content easily. Our beautiful UI integrations provide great experiences to your users and our powerful 
            APIs let you quickly and seamlessly oversee all your file management needs. Filestack’s scalable infrastructure
            powers billions of uploads, transformations and downloads every month providing great performance to users anywhere 
            in the world. </h3>
        </div>

      </div>
    </div>
  <!--ENDS ABOUT US MODULE-->

  <!--STARTS JOBOFFERS MODULE-->
  <div class="cardmodule" style="margin-left:25%;padding:1px 16px; display: block;" id="workeroffersmodule">
  </div>
  <!--ENDS JOBOFFERS MODULE-->
  <!--STARTS SKILL MODAL-->
  <div class="modal modal-hidden">
    <div class="modal__contents">
      <div class="modal__close-bar">
        <span>X</span>
      </div>
      <p>Name/Description of the skill</p>
      <input type="text" id="skillname">
      <input type="button" value="ADD SKILL" id="addskill">
    </div>
  </div>
  <!--ENDS SKILL MODAL-->
  <!--STARTS OFFER MODAL-->
  <div class="offermodal offermodal-hidden">
    <div class="modal__contents">
      <div class="modaloffer__close-bar">
        <span>X</span>
      </div>
      <p id="offermodal_jobname">WORKER'S NAME: </p>
      <p id="offermodal_email">EMAIL: </p>
      <p id="offermodal_phone">PHONE: </p>
      <p>INFORMATION:</p>
      <p><input type="button" value="CHECK CURRICULUM" style="padding:10px; color:#FFFFFF;" id="worker_curriculum"><p>
      <p><input type="button" value="CHECK VIDEO" style="padding:10px; color:#FFFFFF;" id="worker_video"><p>
      <p><input type="button" value="CHECK PHOTO" style="padding:10px; color:#FFFFFF;" id="worker_photo"><p>
      <input type="button" value="RECRUIT" style="padding:10px; color:#FFFFFF;" id="recruitment">
    </div>
  </div>
  <!--ENDS MODAL-->
    <script src="/js/company.js"></script>
  </body>
</html>