<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Filestack App</title>
      <link rel="stylesheet" href="./styles/login.css">
   </head>
   <body>
      <div class="wrapper">
         <div class="title">
            <img src="./img/filestack.png">
         </div>
         <form action="#">
            <div class="field">
               <input type="text" required>
               <label>Email Address</label>
            </div>
            <div class="field" style="margin-top:30px;">
               <input type="password" required>
               <label>Password</label>
            </div>
            <div class="field">
               <input type="submit" value="Login">
            </div>
            <div class="signup-link">
               Not a member? <a href="#">Signup now</a>
            </div>
         </form>
      </div>
   </body>
</html>