<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Filestack App </title>
    <link rel="stylesheet" href="./styles/register.css">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">SIGN UP</div>
    <div class="content">
      <form>
        <div class="user-details">
          <div class="input-box">
            <span class="details">Full Name/Company Name</span>
            <input type="text" placeholder="Enter your Name" id="name">
          </div>
          <div class="input-box">
            <span class="details">Age</span>
            <input type="number" placeholder="Enter your Age" id="age">
          </div>
          <div class="input-box">
            <span class="details">Email</span>
            <input type="text" placeholder="Enter your Email" id="email">
          </div>
          <div class="input-box">
            <span class="details">Phone Number</span>
            <input type="number" placeholder="Enter your Number" id="phone">
          </div>
          <div class="input-box">
            <span class="details">Password</span>
            <input type="text" placeholder="Enter your Password" id="password">
          </div>
          <div class="input-box">
            <span class="details">Confirm Password</span>
            <input type="text" placeholder="Confirm your Password" id="confirm">
          </div>
        </div>
        <div>
          <input type="radio" id="woker" name="contact" value="Worker" />
          <label for="woker">Worker</label>
    
          <input type="radio" id="company" name="contact" value="Company" />
          <label for="company">Company</label>
        </div>

        
        <!--<div class="gender-details">
          <input type="radio" name="gender" id="dot-1">
          <input type="radio" name="gender" id="dot-2">
          <input type="radio" name="gender" id="dot-3">
          <span class="gender-title">Gender</span>
          <div class="category">
            <label for="dot-1">
            <span class="dot one"></span>
            <span class="gender">Male</span>
          </label>
          <label for="dot-2">
            <span class="dot two"></span>
            <span class="gender">Female</span>
          </label>
          <label for="dot-3">
            <span class="dot three"></span>
            <span class="gender">Prefer not to say</span>
            </label>
          </div>
        </div>-->
        <div class="button">
          <input type="button" value="Sign up" id="signup">
        </div>
      </form>
    </div>
  </div>
  <script src="./js/signup.js"></script>
</body>
</html>