<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Filestack App</title>
        <link rel="stylesheet" href="./styles/company.css">
        <script src="https://kit.fontawesome.com/cdc3c351b3.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <ul>
            <img src="./img/filestack.png">
            <li><a href="#profile" id="profiletab">Worker Profile</a></li>
            <li><a class="active" href="#joboffer" id="joboffertab">Job Offers</a></li>
            <li><a href="#contact" id="contacttab">Contact</a></li>
            <li><a href="#about" id="abouttab">About</a></li>
        </ul>

        <!--STARTS WORKER PROFILE MODULE-->
        <div class="module" style="margin-left:25%;padding:1px 16px; display:none;" id="profilemodule">
          <div class="container">
            <div class="title">Worker PROFILE</div>
            <div class="content">
              <form>
                <div class="user-details">
                  <div class="input-box">
                    <span class="details">Full Name</span>
                    <input type="text" placeholder="Enter your Name" id="name_workerinfo">
                  </div>
                  <div class="input-box">
                    <span class="details">Age</span>
                    <input type="number" placeholder="Enter your Age" id="age_workerinfo">
                  </div>
                  <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" placeholder="Enter your Email" id="email_workerinfo">
                  </div>
                  <div class="input-box">
                    <span class="details">Phone Number</span>
                    <input type="number" placeholder="Enter your Number" id="phone_workerinfo">
                  </div>
                  <div class="input-box">
                    <span class="details">My Curriculum</span>
                    <input type="button" value="Check my Curriculum"> 
                  </div>
                  <div class="input-box">
                    <span class="details">Update my Curriculum</span>
                    <input type="button" value="Update My Curriculum"> 
                  </div>

                </div>

                <div class="user-details">
                  <div class="input-box">
                    <span class="details">State</span>
                    <select name="states" id="states">
                    </select>
                  </div>
                  <div class="input-box">
                    <span class="details">City</span>
                    <select name="cities" id="cities">
                    </select>
                  </div>
                </div>

                <div class="button">
                  <input type="button" value="UPDATE DATA" id="update_workerinfo">
                </div>
              </form>
            </div>
          </div>
        </div>
      <!--ENDS WORKER PROFILE MODULE-->

      <!--STARTS CONTACT MODULE-->
      <div class="module" style="margin-left:25%;padding:1px 16px; display: none;" id="contactmodule">
        <div class="container">
          <div class="title">GET IN TOUCH</div>
          <div class="content">
            <form>
              <div class="user-details">
                <div class="input-box">
                  <span class="details">PHONE NUMBER</span>
                  <div>
                    <div class="contenido">
                      <i class="fa-solid fa-phone"></i>
                    </div>
	                  <div class="contenido">
                      <label>789456123</label>  
                    </div>
                  </div>
                </div>
                <div class="input-box">
                  <span class="details">OUR MAIN OFFICE</span>
                  <div>
                    <div class="contenido">
                      <i class="fa-solid fa-building"></i>
                    </div>
	                  <div class="contenido">
                      <label>789456123</label>  
                    </div>
                  </div>
                </div>
                <div class="input-box">
                  <span class="details">FAX</span>
                  <div>
                    <div class="contenido">
                      <i class="fa-solid fa-fax"></i>
                    </div>
	                  <div class="contenido">
                      <label>789456123</label>  
                    </div>
                  </div>
                </div>
                <div class="input-box">
                  <span class="details">EMAIL</span>
                  <div>
                    <div class="contenido">
                      <i class="fa-solid fa-envelope"></i>
                    </div>
	                  <div class="contenido">
                      <label>supp@filestack.com</label>  
                    </div>
                  </div>
                </div>
              </div>

              <div class="divisionform">
                <div class="input-box">
                    <span class="details">MESSAGE</span>
                    <input type="text" placeholder="Enter Job" id="name">
                </div>
              </div>

              <div class="button">
                <input type="button" value="SEND MESSAGE" id="signup">
              </div>
            </form>
          </div>
        </div>
      </div>
    <!--ENDS CONTACT MODULE-->

    <!--STARTS ABOUT US MODULE-->
    <div class="module" style="margin-left:25%;padding:1px 16px; display: none;" id="aboutusmodule">
      <div class="container">
        <div class="halfmodule">
          <img src="/img/filestack.png">
          <div class="aboutus"> <h1>ABOUT US</h1></div>
        </div>
        <div class="informationpanel">
          <h3>Filestack is a set of tools and powerful APIs that allow you to upload, transform and deliver 
            content easily. Our beautiful UI integrations provide great experiences to your users and our powerful 
            APIs let you quickly and seamlessly oversee all your file management needs. Filestack’s scalable infrastructure
            powers billions of uploads, transformations and downloads every month providing great performance to users anywhere 
            in the world. </h3>
        </div>

      </div>
    </div>
  <!--ENDS ABOUT US MODULE-->

  <!--STARTS JOBOFFERS MODULE-->
  <div class="cardmodule" style="margin-left:25%;padding:1px 16px; display: block;" id="joboffersmodule">
    <!--<div class="card">
      <img src="/img/factory.png" alt="Avatar" style="width:200px; heigth: 200px;">
      <div class="cardcontainer">
        <div style="width:500px">
        <h1><b>Filestack</b></h1> 
          <p>Looking for : </p><label>Software Engineer</label> 
        </div>
        <div  class="cutoff-text">
          <p >
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was 
            </p>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="/img/factory.png" alt="Avatar" style="width:200px; heigth: 200px;">
      <div class="cardcontainer">
        <div style="width:500px">
        <h1><b>Filestack</b></h1> 
          <p>Looking for : </p><label>Software Engineer</label> 
        </div>
        <div  class="cutoff-text">
          <p >
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was 
            </p>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="/img/factory.png" alt="Avatar" style="width:200px; heigth: 200px;">
      <div class="cardcontainer">
        <div style="width:500px">
        <h1><b>Filestack</b></h1> 
          <p>Looking for : </p><label>Software Engineer</label> 
        </div>
        <div  class="cutoff-text">
          <p >
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was 
            </p>
        </div>
      </div>
    </div>
    <div class="card">
      <img src="/img/factory.png" alt="Avatar" style="width:200px; heigth: 200px;">
      <div class="cardcontainer">
        <div style="width:500px">
        <h1><b>Filestack</b></h1> 
          <p>Looking for : </p><label>Software Engineer</label> 
        </div>
        <div  class="cutoff-text">
          <p >
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was 
            </p>
        </div>
      </div>
    </div>-->
  </div>
  <!--ENDS JOBOFFERS MODULE-->
  <!--STARTS OFFER MODAL-->
  <div class="modal modal-hidden">
    <div class="modal__contents">
      <div class="modal__close-bar">
        <span>X</span>
      </div>
      <p id="modal_jobname">JOB NAME: SALE'S ENGINEER</p>
      <p id="modal_salary">SALARY: 123456</p>
      <p>JOB DDESCRIPTION:</p>
      <p id="modal_jobdescription">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was <p>
      <div style= "display:flex; justify-content:space-evenly;">
        <div id="modal_mandatoryskills">
          <h4>Mandatory Skills</h4>
          <p>dfssdfsdfsadfdasf</p>
          <p>dfssdfsdfsadfdasf</p>
          <p>dfssdfsdfsadfdasf</p>
          <p>dfssdfsdfsadfdasf</p>
          <p>dfssdfsdfsadfdasf</p>
          <p>dfssdfsdfsadfdasf</p>
          <p>dfssdfsdfsadfdasf</p>
          <p>dfssdfsdfsadfdasf</p>
          <p>dfssdfsdfsadfdasf</p>
          <p>dfssdfsdfsadfdasf</p>
          <p>dfssdfsdfsadfdasf</p>
        </div>
        <div id="modal_softskills">
          <h4>Soft Skills</h4>
          <p>dfssdfsdfsadfdasf</p>
        </div>
      </div>
      <input type="button" value="POSTULATE" style="padding:10px;" id="postulate">
    </div>
  </div>
  <!--ENDS OFFER MODAL-->
    <script src="/js/worker.js"></script>
  </body>
</html>